body{
  background-color: lightgoldenrodyellow;
}

h1{
font-size: 50px;
color: teal;
}
h2{
color:red;
font-size: 30px;
color: green;
}
.big{
font-size: 60px;
}

.uppercase{
text-transform: upp
}

.big.uppercase{
color:navy;
}

h1 span{
color:violet;

}
